.card {
  border-radius: 15px;
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
  border: none;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(3.25rem - 1px);
  border-top-right-radius: calc(3.25rem - 1px);
}
.btn-primary {
  color: #ef4444;
  font-weight: 500;
  border: none;
}

.btn-primary:hover {
  color: black;
}
